*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: black;
} 

.navbar{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: rgb(247, 220, 111 );
    color: red;
}

.navbar ul{
    margin-left: 600px;
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin: 0 40px;

}

.navbar ul li a{
    color: black;
    text-shadow: 3px 7px 7px white;
    text-decoration: none;
    text-decoration: none;
    transition: 0.3s linear;
    font-weight: bold;
}


.navbar ul li a:hover{
    color:red;
    border-bottom: 2px solid red;
}

.logo img{
    margin-right: 10px;
    margin-left: 100px;
    width: 40px;
}

.content{
    color:rgb(245, 176, 65);  
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/homes.avif);
}
   
.content h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 2%;
    text-shadow: 5px 4px black;
}

.content h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

.tiger img{
    display: inline-block;
    margin-left: 33.5%;
}

.second-content{
    color:white;
    height: 100vh;
    align-self: center;
    text-align: center;
}

.second-content h1{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    width: 1200px;
    height: auto;
    margin: auto;
    color:rgb(60, 231, 174);
    position: relative;
    overflow: hidden;
    font-size: 5vw;
    text-shadow: 3px 3px 4px white;
}

.second-content p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20%;
    margin-right: 20%;
}

.capital img{
    width: 25%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255);
    transition: all ease-in-out 0.5s;
}

.capital img:hover{
    width: 30%;

}

.third-content{
    align-items: center;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/b2.jpg);
}

.third-content h1{
    font-size: 3vw;
    margin-top: 3%;
    color:rgb(218, 177, 125);
    align-self: center;
    text-align: center;
    text-shadow: 7px 8px 10px rgb(6, 6, 6);
    font-family:'Times New Roman', Times, serif;
}

.video{
    margin-top: 5%;
    margin-left: 23%;
    position: absolute;
    align-items: center;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.content2{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 3vh;
    background-image: url(img/bg.jpg);
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.content2 h1{
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px rgb(47, 131, 233);
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.image{
    width: 700px;
    position: relative;
}

.image img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255);
}

.descrip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    opacity: 0;
    transition: 0.6s;
}

.descrip p{
    font-style: italic;
}

.descrip:hover{
    opacity: 1;
}

.descrip > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.descrip:hover > *{
    transform: translateY(0px);
}

.content3{
    color: white;
    text-align: center;
    font-size: 3vh;
    background-image: url(img/bg3.jpg);
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper2 .image{
    margin-top:10%;
}

.content4{
    color: white;
    text-align: center;
    font-size: 3vh;
    background-image: url(img/bg2.jpg);
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper3 .image{
    margin-top:10%;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: white;
    margin-top: 4%;
}

.box{
    max-width: 600px;
}
.box h1{
    font-size: 5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:orange;
    text-shadow: 6px 8px 9px rgb(244, 78, 7);
}
.box p{
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    text-shadow:1px 2px 3px pink;
}
.maps{
    border-radius: 2em;
    border: none;
    width: 500px;
    height: 500px;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.maps:hover{
    transform: scale(1.1);
    opacity: 1;
}

.head h1{
    color:rgb(164, 88, 131);
    align-items: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px white;
    font-size: 3.5em;
}

.culture{
    width: 90%;
    padding:20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.culture h1{
    color: white;
}

.cult{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
}

.cult img{
    display: block;
    width: 100%;
    border-radius: 5px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255);
}

.cult:hover{
    transform: scale(1.3);
    z-index: 2;
}

.food{
    margin-right: 3%;
}
.art{
    margin-right: 6%;
}

.place{
    margin-right: 5%;
}

.food h1{
    color: rgb(250, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.art h1{
    color: rgb(127, 165, 69);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.festival h1{
    color: rgb(165, 77, 69);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.place h1{
    color: rgb(69, 85, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .content2 .pic1{
    width:400px;
    aspect-ratio: 1/ 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.content2 .pic1 .image-box{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.content2 .pic1 .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.4 ease-in-out;
}

.content2 .pic1::after{
    content:"";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.content2 .pic1:hover img{
    filter: grayscale(1) brightness(0.4);
}

.content2 .pic1:hover::after{
    opacity: 1;
    inset: 20px;
}

.descrip{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
} */